* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    padding-left: 1rem;
    margin: 0 auto;
    background-color: transparent;
}

.logo a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto ;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;

}

.main p {
    margin-top: 1rem;
    font-size: 1.255rem;
    color: #fff;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social a {
    color: #00E8F8;
    font-size: 2rem;
    border: 1.6px solid #00E8F8;
    border-radius: 50%;
    padding: 0.35rem;
    text-align: center;
    width: 55px;
}

.social a:hover {
    color: #1F252E;
    background-color: #00E8F8;
    box-shadow: 0 0 20px #00E8F8;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}

.main h1 span:nth-child(2) {
    color: #00E8F8;
}

.images {
    width: fit-content;
    height: fit-content;
}

